.stream-card {

    cursor: pointer;
}

.stream-card-container {
    margin: 10px;
}

.stream-card-image {
    width: 380px;
    height: 200px;
    border-radius: 10px 0px 10px 0px;
}

.stream-card-image-container {
    display: flex;
}

.stream-card-title {
    color: #ccc; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-family: Verdana; 
    width: 380px;
}

.stream-icon {
    width: 10px; 
    margin-right: 5px; 
    filter: grayscale(1) brightness(10);
}

.stream-viewers {
    width: auto;
    color: #868686; 
    font-family: Verdana; 
    font-size: smaller;
    filter: brightness(1.3);
}

.stream-iframe-view {
    height: auto;
    width: auto;
}