.side-bar {
    display: flex;
    justify-content: center;
    width: 200px;
    min-width: 200px;
    height: auto;
    min-height: 100vh;
    background-color: #dd0066;
    margin: -8px 0px -8px -8px;
    transition: width 0.7s, min-width 0.7s;
}

.side-bar-collapsed {
    display: flex;
    justify-content: center;
    width: 50px;
    min-width: 50px;
    height: auto;
    min-height: 100vh;
    background-color: #d80c6a;
    margin: -8px 0px -8px -8px;
    transition: width 0.7s, min-width 0.7s;
}

.side-bar-header {
    color: white;
    font-family: Verdana;
    font-size: 20px;
    position: fixed;
    opacity: 1;
    transition: opacity ease-in 0.7s;
    transition-delay: 0.2s;
    margin-top: 6px;
}

.side-bar-header-hidden {
    opacity: 0;
}

.side-bar-collapse {
    margin-left: 80px;
    margin-top: 10px;
    position: fixed;
    height: 18px;
    filter: invert(1);
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    transition: opacity ease-in 0.7s;
    transition-delay: 0.2s;
}

.side-bar-collapse-hidden {
    width: 0px;
    opacity: 0;
}

.side-bar-expand {
    position: fixed;
    height: 24px;
    cursor: pointer;
    z-index: 10;
    opacity: 1;
    transition: opacity ease-in 0.7s;
    transition-delay: 0.2s;
    margin-top: 6px;
}

.side-bar-expand-hidden {
    width: 0px;
    opacity: 0;
}

.search-container {
    position: fixed;
    opacity: 1;
    transition: opacity ease-in 1s;
    transition-delay: 0.2s;
    margin-top: 6px;
}

.search-container-hidden {
    opacity: 0;
}

.search {
    height: 25px;
    width: 180px;
    margin-top: 50px;
    border-radius: 5px;
    border: 0px;
    text-align: center;
    font-family: Verdana;
}

.search:focus {
    box-shadow: 3px 3px 30px #5d5a5a;
    outline: none;
}