.card {
    padding: 10px 5px;
}

.card-image {
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
}

.card-mixer-image {
    position: absolute;
    object-fit: contain;
    z-index: 100;
}

.card-background {
    filter: blur(3px) brightness(0.5);
    border-radius: 10px 0px 10px 0px;
}

.card-image-container {
    display: flex;
    flex-direction: column-reverse;
}

.card-title {
    width: auto;
    color: #ccc; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-family: Verdana; 
}

.card-overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.85);
    box-shadow: 0 -2px 4px 0px black;
    width: 169px;
    z-index: 100;
    padding: 0px 5px 40px;
    height: 80px;
    opacity: 0;
}

.card:hover .card-overlay {
    transition: opacity ease-out 0.3s;
    opacity: 1;
}

.icon {
    width: 10px; 
    margin-right: 5px; 
    filter: grayscale(1) brightness(10);
}

.viewers {
    width: auto;
    color: #868686; 
    font-family: Verdana; 
    font-size: smaller; 
}