.card {
    padding: 10px 5px;
    transform: scale(1);
    transition: transform 0.3s;
}

.more-games .card:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}

.card-image {
    border-radius: 10px 0px 10px 0px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 3px #0c0c0c;
}

.card-mixer-image {
    position: absolute;
    object-fit: contain;
    z-index: 100;
}

.card-background {
    filter: blur(3px) brightness(0.5);
    border-radius: 10px 0px 10px 0px;
}

.card-image-container {
    display: flex;
    flex-direction: column-reverse;
}

.card-title {
    width: auto;
    color: #ccc; 
    margin-top: 5px; 
    margin-bottom: 5px; 
    font-family: Verdana; 
}

.card-overlay {
    position: absolute;
    background-color: rgba(22,24,27, 0.85);
    box-shadow: 0 -2px 4px 0px #16181bd9;
    width: 169px;
    z-index: 100;
    padding: 0px 5px 40px;
    height: 90px;
    opacity: 0;
    transition: opacity ease-out 0.3s;
}

.card:hover .card-overlay {
    opacity: 1;
    transition: opacity ease-out 0.3s;
}

.icon {
    width: 10px; 
    margin-right: 5px; 
    filter: grayscale(1) brightness(10);
}

.viewers {
    width: auto;
    color: #868686; 
    font-family: Verdana; 
    font-size: smaller;
    filter: brightness(1.3);
}