.game-container {
    display: inline-flex;
    flex-direction: column;
    margin: 0px 10px;
}

.top-games {
    display: flex; 
    width: 100%;
    justify-content: space-between;
}

.top-games-header {
    color: #ccc;
    font-family: Verdana;
    font-size: 18px;
}

.more-games {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.dummy-card {
    width: 179px;
    padding: 10px 5px;
}